<md-appbar-tabbar>
  {{paper-icon "cloud_queue" size=24}}
  {{#paper-tabs
    center=center
    stretch=stretch
    borderBottom=borderBottom
    selected=selectedTab
    onChange=(action (mut selectedTab)) as |tabs|}}

    {{yield (hash
      tab=(component "paper-appbar-tab" tabs=tabs)
    )}}
  {{/paper-tabs}}

  <h1>{{title}}</h1>
</md-appbar-tabbar>



{{#liquid-bind (hash tab=selectedTab) class="md-padding" as |current|}}

    {{yield (hash
      tabContent=(component "paper-appbar-tab-content" selectedTab=current.tab)
    )}}

{{/liquid-bind}}
