@import "color-palette";
@import 'ember-paper';


.ember-text-area{
  border: none;
}

.gs-options-container{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  background-color: color($color-grey, '50');
}

.gs-options{
  height: 100%;

  .md-toolbar-tools{
      background-color: color($color-grey, '200');
      color: color($color-grey, '800');
  }
  .paper-icon{
    color: color($color-grey, '800') !important;
  }
}

.gs-item-container{
  display: flex;
  flex-wrap: wrap;

  > div{
    width: 20%;

    md-card-title{
      background: url("fire.jpg");
      background-position: center center;
      min-height: 150px;

      color: white;

      > a{
        color: white;
        text-decoration: none;
      }
    }
  }
}



.flex-50{
  textarea{
    width: 100%;
    height: 100%;
  }
}

.flex-100{
  margin-top: 0.5em;

  button{
    float: right;
  }
}


/**
  Dialog Line
*/
$size : 30px;
$margin : 2px;

.gs-answer-container{
  position: absolute;
  height: $size;
  right: $margin * 2;
  bottom : $margin * 2;
  display: flex;

  z-index: 99;
}

.gs-answer-circle{
  position: relative;
  margin: $margin;
  width: $size - ($margin * 2);
  height : $size - ($margin * 2);
  border-radius: $size / 2;

  background-color: #546E7A;

  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gs-connection-container{
  position: relative;
  margin-left: $margin * 2;
  margin-top: $margin * 2;
  height: $size * 2;

  > .gs-answer-circle{
    background: #E0E0E0;
  }
}

@for $i from 0 to 6 {
  .gs-answer-container{

    .gs-answer-circle:nth-child(#{$i}){
      div::after {
          position: absolute;
          border-right: 2px solid #EEEEEE;
          border-top: 2px solid #EEEEEE;
          border-top-right-radius: $size / 6;
          z-index: 0;

          width: $size+$i*30;

          height: #{$i*50-5 - 30}px;
          right: $size / 2-4;
          bottom: $size - 4;
          content: '';
      }
    }
  }
}


$keys: '#F44336' '#9C27B0' '#3F51B5' '#4CAF50' '#CDDC39' '#FFC107' '#FF5722' '#9E9E9E';
md-list{
  @for $i from 2 to 9 {
    $value : #{34+(($i)-2) * 30}px;
    md-list-item:nth-child(#{$i}){
      width: calc(100% - #{$value});
    }
  }
}

.drag-box{
  position: absolute;
  width: 150px;
  height: 150px;
  background: #F5F5F5;
  z-index: 999;

  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  > md-card, > div{
    visibility: collapse;
  }
}

gs-item-movable{
  position: absolute;

  z-index: 999;

  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  > md-card{
    margin: 0;
  }
}

.gs-side-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;

    height:100vh;
}

.gs-side-container > div:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }

.gs-side-container > div:nth-child(2) {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    }

svg{
  position: absolute;
  z-index: 0;
}

md-card{
  background-color: rgba(255, 255, 255, 0.5);
}

/**

TEST ANIMATION FOR CONNECTIONS

*/
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}




/**



    Flow logic elements





*/
@import 'ember-paper';
body{
  background: #DCE775;
  background: #F5F5F5;
}

$margin: 12px;
$connectorMargin: 2px;
$connectorSize: 32px;

@mixin connector{
  display: block;
  border: solid 1px #BDBDBD;
  background: #F5F5F5;
  border-radius: 50% 50%;
  width: #{($connectorSize)-($connectorMargin)*2};
  height: #{($connectorSize)-($connectorMargin)*2};

  transition: background 1s;
}

flow-container{
  position: relative;
  width:1680px !important;
  height: 1000px !important;
}

flow-element{
  position: absolute;

  min-width: 400px;
  min-height: 250px;


  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: $baseline-grid;

  box-shadow: $card-box-shadow;


  background: rgba(255, 255, 255, 0.75);

  > flow-input-container{
    display: flex;
    justify-content: flex-start;

    padding: 6px;

    > flow-input{
      @include connector;
    }

    > flow-input:hover{
      background: #DCE775;
    }
  }

  > flow-output-container{
    display: flex;
    justify-content: flex-end;

    padding: 6px;

    > flow-output{
      @include connector;
    }

    > flow-output:hover{
      background: #E0E0E0;
    }
  }
}
.connected{
  background: #78909C;
  border: none;
}


flow-content{
  padding-left: 1em;
  padding-right: 1em;
  display: inline-block;
}
