{{#paper-dialog fullscreen=fullscreen origin=dialogOrigin}}

  {{#paper-dialog-content}}

    <h2 class="md-title">Houston, we have a problem</h2>
    <p>It look's like we lost the connection to the server :/. Please refresh your browser tab.<br>
      If the problem keeps appearing, please try it again later.
    </p>

    <img src="https://emojipedia-us.s3.amazonaws.com/thumbs/160/google/110/loudly-crying-face_1f62d.png" alt="sad face" />
  {{/paper-dialog-content}}

  {{#paper-dialog-actions class="layout-row"}}
    <span class="flex"></span>
    {{#paper-button primary=true}}Okay!{{/paper-button}}
  {{/paper-dialog-actions}}

{{/paper-dialog}}
