{{paper-appbar title=model.name}}


<div class="gs-item-container">
  {{#each model as |dialog|}}

      {{#paper-card as |card|}}
        {{#card.title as |title|}}
            {{#title.text as |text|}}
              {{#text.headline}}{{dialog.name}}{{/text.headline}}
            {{/title.text}}
        {{/card.title}}
        {{#card.actions}}
          {{#paper-button onClick=(action "modifyDialog" dialog.id)}}Modify{{/paper-button}}
        {{/card.actions}}
      {{/paper-card}}
  {{/each}}
</div>

{{#if showPromptDialog}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "closePromptDialog" "cancel") origin=dialogOrigin}}

    {{#paper-dialog-content}}
      <h2 class="md-title">Create A New Dialog?</h2>
      <p>Specify a name for your new dialog:</p>
      {{paper-input placeholder="dialog name" autofocus=true value=dialogName onChange=(action (mut dialogName))}}
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closePromptDialog" "cancel")}}Cancel{{/paper-button}}
      {{#paper-button primary=true onClick=(action "closePromptDialog" "ok" dialogName)}}Create Dialog{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}
